extends ../../components/main/template.pug

block content
  section.module
    //- .module__title Titulo
    //- .module__small-table
    //-   img(src=require('|Assets/images/a.png'), alt="hloo logo")
    //- .module__small-table Pequeña Tabla vs TABLA GRANDE
    //- .module__form Formulario
    //- .module__menu Menu
    //- .module__tools Tablero de herramientas


append scripts
  script(src="/js/eventEmitter.js")
  script(src='/node_modules/socket.io-client/dist/socket.io.js')

  script(type="text/javascript").
    const _EMITTER = new EventEmitter()

    const _SOCKET = io()

    const _RESOURCES = JSON.parse('{{ JSON.stringify(_RESOURCES)}}')
